###> IDE (SublimeText, Eclipse, Zend Studio, Netbeans, JetBrains IDE, TextMate2, Visual Studio Code) ###
Capfile
.buildpath
/.idea/
nbproject
.project
.settings
.sublime-project
TextMate2
.vscode
###< IDE ###

.DS_Store
node_modules/
.env
./filters/
./sources/
npm-debug.log
named_modifiers.json
test/sample_images/dont-version*